body {
  padding-top: 65px;
}
.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}
.chat li:not(:last-of-type) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #B3A9A9;
}
/*.chat li.left .chat-body {
    margin-left: 60px;
}*/
.chat li.right .chat-body {
  margin-right: 60px;
}
.chat li .chat-body p {
  margin: 0;
  color: #777777;
  padding-top: 5px;
}
#tradingAccountDetailsListView {
  border: none;
  box-shadow: none;
  background: inherit;
  color: inherit;
  float: left;
}
#tradingAccountDetailsListView .form-group:not(:first-of-type) {
  margin-left: 15px;
}
.monteCarloSimulationsGridDetailForm .form-group {
  margin-bottom: 2px;
}
.k-grid,
#tradingAccountDetailsListView {
  font-size: .8em;
}
.k-grid td {
  padding: .1em .3em;
}
#tradingAccountDetailsListViewWrapper {
  padding: 10px;
}
#tradingAccountDetailsListView {
  padding: 5px;
}