<div class="modal fade" id="taxRatesModal" tabindex="-1" role="dialog" aria-labelledby="taxRatesModal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="taxRatesModal-label">Effective Tax Rates</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Sector</th>
                            <th>Effective tax rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td title="Sector">Consumer Discretionary</td>
                            <td title="Effective tax rate">28.27</td>
                        </tr>
                        <tr>
                            <td title="Sector">Consumer Staples</td>
                            <td title="Effective tax rate">31.08</td>
                        </tr>
                        <tr>
                            <td title="Sector">Energy</td>
                            <td title="Effective tax rate">Tax Benefit</td>
                        </tr>
                        <tr>
                            <td title="Sector">Financials</td>
                            <td title="Effective tax rate">25.58</td>
                        </tr>
                        <tr>
                            <td title="Sector">Health Care</td>
                            <td title="Effective tax rate">19.56</td>
                        </tr>
                        <tr>
                            <td title="Sector">Industrials</td>
                            <td title="Effective tax rate">24.77</td>
                        </tr>
                        <tr>
                            <td title="Sector">Information Technology</td>
                            <td title="Effective tax rate">17.02</td>
                        </tr>
                        <tr>
                            <td title="Sector">Materials</td>
                            <td title="Effective tax rate">24.86</td>
                        </tr>
                        <tr>
                            <td title="Sector">Real Estate</td>
                            <td title="Effective tax rate">4.93</td>
                        </tr>
                        <tr>
                            <td title="Sector">S&amp;P 500</td>
                            <td title="Effective tax rate">24.11</td>
                        </tr>
                        <tr>
                            <td title="Sector">Telecommunications</td>
                            <td title="Effective tax rate">28.16</td>
                        </tr>
                        <tr>
                            <td title="Sector">Utilities</td>
                            <td title="Effective tax rate">29.47</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
