<div class="modal fade" id="todoModal" tabindex="-1" role="dialog" aria-labelledby="todoModal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="todoModal-label">Todos</h4>
            </div>
            <div class="modal-body" style="max-height: 500px;">
                <ul class="list-group">
                    <li class="list-group-item"><span class="fa fa-check-square-o"></span> <strike>Add Market Log backend</strike></li>
                    <li class="list-group-item"><span class="fa fa-check-square-o"></span> <strike>Add Market Log frontend</strike></li>
                    <li class="list-group-item"><span class="fa fa-square-o"></span> Add Trades backend</li>
                    <li class="list-group-item"><span class="fa fa-square-o"></span> Add Trades frontend</li>
                    <li class="list-group-item"><span class="fa fa-square-o"></span> Integrate Market Log and Trades into single Dashboard page</li>
                    <li class="list-group-item"><span class="fa fa-check-square-o"></span> <strike>Add Trading Directives</strike></li>
                    <li class="list-group-item"><span class="fa fa-check-square-o"></span> <strike>Add ability to include screenshots</strike></li>
                    <li class="list-group-item"><span class="fa fa-square-o"></span> Implement Monte Carlo simulation</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
