<script type="text/x-kendo-tmpl" id="tradingAccountDetailsTemplate">
    <div class="form-group">
        <label style="margin-bottom: 0;">#:Display#:</label>
        <label style="font-weight: normal; padding-left: 5px; margin-bottom: 0;">#:Value#</label>
    </div>
</script>

<div id="tradingAccountDetailsListViewWrapper" class="alert alert-info clearfix" role="alert">
    @(Html.Kendo().ListView<ListItem>()
        .Name("tradingAccountDetailsListView")
        .TagName("div")
        .HtmlAttributes(new { @class = "form-inline" })
        .ClientTemplateId("tradingAccountDetailsTemplate")
        .DataSource(dataSource =>
        {
            dataSource.Read(read => read.Action("GetActiveAsListItems", "TradingAccounts"));
        })
    )

    <button type="button" class="btn btn-danger btn-sm pull-right" onclick="GuerillaTrader.TradingAccount.purge(); return false;">Purge</button>
</div>
