@{
    ViewBag.ActiveMenu = "Dashboard";
    ViewBag.FluidContainer = true;
}

<div class="row">
    <div class="col-md-9">
        @Html.Partial("_TradingAccountDetails")
        @Html.Partial("../Trades/_TradesGrid")
    </div>
    <div class="col-md-3">
        @Html.Partial("../MarketLog/_MarketLog")
    </div>
</div>
