@{
    ViewBag.ActiveMenu = "MarketLog"; //The menu item will be active for this page.
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @Html.Partial("_MarketLog")
    </div>
</div>


