@model Decimal

@{
    bool required = ViewData["required"] == null ? false : (bool)ViewData["required"];
    String onChange = ViewData["onChange"] == null ? String.Empty : (String)ViewData["onChange"];
    int decimals = ViewData["decimals"] == null ? 2 : (int)ViewData["decimals"];

    Dictionary<String, object> attributes = new Dictionary<string, object>();
    attributes.Add("style", "width:100%;");
    attributes.Add("class", "includeHidden");

    if (required)
    {
        attributes.Add("required", "");
    }
}

<div class="form-group">
    @Html.LabelFor(m => m, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-9">
        @(Html.Kendo().CurrencyTextBoxFor(m => m)
            .Decimals(decimals)
            .Format(String.Format("c{0}", decimals))
            .Events(events =>
            {
                if (!String.IsNullOrEmpty(onChange))
                {
                    events.Change(onChange);
                }
            })
            .HtmlAttributes(attributes))
    </div>
</div>
