@model int

@{
    bool required = ViewData["required"] == null ? false : (bool)ViewData["required"];

    Dictionary<String, object> attributes = new Dictionary<string, object>();
    attributes.Add("style", "width:100%;");
    attributes.Add("class", "includeHidden");

    if (required)
    {
        attributes.Add("required", "");
    }
}

<div class="form-group">
    @Html.LabelFor(m => m, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-9">
        @(Html.Kendo().NumericTextBoxFor<int>(m => m)
            .Decimals(0)
            .Format("N0")
            .HtmlAttributes(attributes))
    </div>
</div>
