@model String

@{
    bool required = ViewData["required"] == null ? false : (bool)ViewData["required"];

    Dictionary<String, object> attributes = new Dictionary<string, object>();
    attributes.Add("style", "width:100%; resize: none;");
    attributes.Add("class", "includeHidden form-control");
    int rows = ViewData["rows"] == null ? 3 : (int)ViewData["rows"];
    attributes.Add("rows", rows);

    int cols = ViewData["cols"] == null ? 3 : (int)ViewData["cols"];

    if (required)
    {
        attributes.Add("required", "");
    }
}

<div class="form-group">
    @Html.LabelFor(m => m, new { @class = String.Format("col-sm-{0} control-label", cols) })
    <div class='@String.Format("col-sm-{0}", 12 - cols)'>
        @(Html.TextAreaFor(m => m, attributes))
    </div>
</div>
