@{
    ViewBag.ActiveMenu = "MonteCarloSimulations"; //The menu item will be active for this page.
}
<div class="row">
    <div class="col-xs-12">
        @Html.Partial("_MonteCarloSimulationsGrid")
    </div>
</div>